<!doctype html>
<html lang="en">
  <head>
    {{>header}}
  </head>
  <body>
    {{>navbar}}
<div class="container-fluid main_header my-3">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div-->
                <div class="col-md-6 col-12 main_header_left">
                    <p>welcome to my weather app</p>
                    <h1>Welcome to <span class="txt_clr">About</span> page of Website</h1>
                    {{!-- <a href="weather"><button class="btn ">Check Now</button></a> --}}
                </div>
            </div>
        </div>
    </div></div>

  {{>footer}}
    
  </body>
</html>